flight-booking-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:circuit-breaker="http://www.mulesoft.org/schema/mule/circuit-breaker" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/circuit-breaker http://www.mulesoft.org/schema/mule/circuit-breaker/current/mule-circuit-breaker.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
    
	<flow name="flight-booking-sapi-main">
        <http:listener config-ref="flight-booking-sapi-httpListenerConfig" path="${http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="#[if (attributes.headers.correlationId?) attributes.headers.correlationId else correlationId]" doc:name="Set correlationId Variable" doc:id="85e39423-9c3e-45dc-9873-03ac0e133e86" variableName="correlationId" />
		<circuit-breaker:filter doc:name="Filter" doc:id="02c8295c-f995-4cb4-ab14-b5a68661ce7b" config-ref="Circuit_breaker_Config"/>
		<json-logger:logger doc:name="Start" doc:id="ffc18c01-6554-4f47-b9d5-2dc4e1f34282" config-ref="JSON_Logger_Config" message="Processing Started" correlationId="#[vars.correlationId]"/>
		<apikit:router config-ref="flight-booking-sapi-config" />
		<json-logger:logger doc:name="End" doc:id="146d8e8c-c8e4-4dc4-8dbc-e6a29819d2d0" config-ref="JSON_Logger_Config" message="Processing Ended" tracePoint="END" correlationId="#[vars.correlationId]"/>
		<error-handler ref="flight-booking-sapi-Error_Handler" />
        
    </flow>
    <flow name="flight-booking-sapi-console">
        <http:listener config-ref="flight-booking-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="flight-booking-sapi-config" />
    </flow>
    
    
</mule>
