src/main/mule/flight-booking-sapi-logic.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<flow name="delete:\bookings:flight-booking-sapi-config">
        <json-logger:logger doc:name="Logger" doc:id="c841277f-8680-471a-9d3d-49b0e476842c" config-ref="JSON_Logger_Config" message="DELETE START">
			<json-logger:content ><![CDATA[#[{
    payload: payload
}]]]></json-logger:content>
		</json-logger:logger>
		<ee:transform doc:name="Transform Message" doc:id="dc432856-8cf3-438b-b339-0631500826d2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"pnr" : attributes.queryParams.PNR
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:delete doc:name="Delete" doc:id="e9c4f8d5-e929-4c89-9232-21aec7a3cad4" config-ref="Database_Config">
			<db:sql ><![CDATA[DELETE FROM flight_booking WHERE pnr = :pnr;]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:delete>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Success",
  Message: "Booking has been deleted successfully."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<json-logger:logger doc:name="Success Logger" doc:id="46eca187-2584-42b5-9d05-07529ef093a3" message="DELETE SUCCESS" config-ref="JSON_Logger_Config">
			<json-logger:content ><![CDATA[#[{
    payload: payload
}]]]></json-logger:content>
		</json-logger:logger>
    
</flow>
    <flow name="get:\bookings:flight-booking-sapi-config">
		<json-logger:logger doc:name="Logger" doc:id="d5e76fd8-439a-4e30-8a14-f29b4ece39fe" config-ref="JSON_Logger_Config" message="GET START">
			<json-logger:content ><![CDATA[#[{
    payload: payload
}]]]></json-logger:content>
		</json-logger:logger>
		<set-variable value="#[attributes.queryParams.PNR]" doc:name="Set Variable" doc:id="6d9822b0-b16e-4e0d-b93e-4220f5ca9040" variableName="pnr"/>
		<db:select doc:id="0bd6b27c-4d4a-4fb7-b4ae-63644602b0fb" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * from flight_booking WHERE pnr = :pnr;]]></db:sql>
			<db:input-parameters ><![CDATA[#['pnr': vars.pnr]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="73218353-0cde-4a71-859a-00c14e56869f">
			<when expression="#[payload == []]">
				<ee:transform doc:name="Transform Message" doc:id="eb41c27c-2c77-47e4-8d13-7b7d64ff6a8b">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="errorDescription" ><![CDATA[%dw 2.0
output application/json
---
"No booking found for pnr : " ++ vars.pnr]]></ee:set-variable>
						<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<flow-ref doc:name="Flow Reference" doc:id="14e8f6e8-2590-41aa-be79-6db12f960e3a" name="prepare-errore-response-sub-flow"/>
			</when>
			<otherwise>
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Success",
  Meesage: "Booking Details found for given PNR",
  Details: {
    departure_date: payload[0].departure_date,
    plane_type: payload[0].plane_type,
    seat_number: payload[0].seat_number,
    passanger_name: payload[0].passanger_name,
    price: payload[0].price,
    origin: payload[0].origin,
    destination: payload[0].destination,
    PNR: payload[0].pnr
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
				<json-logger:logger doc:name="Success Logger" doc:id="ae0f5f5f-d78a-4ce1-abff-d20f09e84c92" config-ref="JSON_Logger_Config" message="GET  SUCCESS" >
					<json-logger:content ><![CDATA[#[{
    payload: payload
}]]]></json-logger:content>
				</json-logger:logger>
			</otherwise>
		</choice>
    </flow>
    <flow name="post:\bookings:application\json:flight-booking-sapi-config">
        <json-logger:logger doc:name="Logger" doc:id="8cc177e8-bfec-46a2-8f18-274d1a805309" config-ref="JSON_Logger_Config" message="CREATE START">
			<json-logger:content ><![CDATA[#[{
    payload: payload
}]]]></json-logger:content>
		</json-logger:logger>
		<ee:transform doc:name="Transform Message" doc:id="7f198c2e-4b20-4109-a55c-e00be642357d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var strCharSet = 'ABCDEFGHIJKLMNOPQRSTUVWZYZ' ++

'abcdefghijklmnopqrstuvwxyz' ++

'0123456789'

var strCharSetLength = sizeOf(strCharSet) - 1

var intLength = 8
---
{
  "departure_date":payload.departure_date,
  "plane_type":payload.plane_type,
  "seat_number":payload.seat_number,
  "passanger_name":payload.passanger_name,
  "price":payload.price,
  "origin":payload.origin,
  "destination":payload.destination,
  "pnr": 1 to intLength map strCharSet[randomInt(strCharSetLength)] joinBy ''
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="pnr" ><![CDATA[%dw 2.0

output application/json

var strCharSet = 'ABCDEFGHIJKLMNOPQRSTUVWZYZ' ++

'abcdefghijklmnopqrstuvwxyz' ++

'0123456789'

var strCharSetLength = sizeOf(strCharSet) - 1

var intLength = 8

---

1 to intLength map strCharSet[randomInt(strCharSetLength)] joinBy '']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<set-variable value="#[payload.pnr]" doc:name="Set Variable" doc:id="1f63cad2-0c6a-4a9d-8105-33878421c388" variableName="pnr"/>
		<db:insert doc:name="Insert" doc:id="55afacc7-e237-48b5-a15c-66cf48b7cfd4" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT into flight_booking VALUES (:pnr,:departure_date,:plane_type,:seat_number,:passanger_name,:price,:origin,:destination);]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "Success",
  Message: "Booking has been confirmed successfully.",
  PNR: vars.pnr
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<json-logger:logger doc:name="Success Logger" doc:id="e71cc919-703f-4405-8353-3b4c8c546949" config-ref="JSON_Logger_Config" message="CREATE  SUCCESS" >
			<json-logger:content ><![CDATA[#[{
    payload: payload
}]]]></json-logger:content>
		</json-logger:logger>
    
</flow>
    <flow name="put:\bookings:application\json:flight-booking-sapi-config">
        <json-logger:logger doc:name="Logger" doc:id="5f225220-09f9-4538-8a11-4f7c9d9e44e8" config-ref="JSON_Logger_Config" message="UPDATE START">
			<json-logger:content ><![CDATA[#[{
    payload: payload
}]]]></json-logger:content>
		</json-logger:logger>
		<ee:transform doc:name="Transform Message" doc:id="7995a4b8-512d-4c48-be50-2f5266b7c862" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var strCharSet = 'ABCDEFGHIJKLMNOPQRSTUVWZYZ' ++

'abcdefghijklmnopqrstuvwxyz' ++

'0123456789'

var strCharSetLength = sizeOf(strCharSet) - 1

var intLength = 8
---
{
  "departure_date":payload.departure_date,
  "seat_number":payload.seat_number,
  "pnr": payload.PNR,
  "new_pnr": 1 to intLength map strCharSet[randomInt(strCharSetLength)] joinBy ''
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="pnr" ><![CDATA[%dw 2.0
output application/json
---
payload.PNR]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:stored-procedure doc:name="Stored procedure" doc:id="ba68d3f6-5d74-4e55-a5c3-180fdb1ba2b0" config-ref="Database_Config">
			<db:sql ><![CDATA[CALL Update_Booking(:pnr,:new_pnr,:seat_number,:departure_date,:out_pnr);]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
			<db:in-out-parameters >
			</db:in-out-parameters>
			<db:output-parameters >
				<db:output-parameter key="out_pnr" type="VARCHAR" />
			</db:output-parameters>
		</db:stored-procedure>
		<choice doc:name="Choice" doc:id="ef90bb9e-6c52-45c6-ab5b-903acefea9fe" >
			<when expression="#[payload.resultSet1[0].pnr == null]">
				<ee:transform doc:name="Transform Message" doc:id="33a86650-039a-4de5-8e38-a57e1272fa56" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
404]]></ee:set-variable>
						<ee:set-variable variableName="errorDescription" ><![CDATA[%dw 2.0
output application/json
---
"No Booking found for given pnr : " ++ vars.pnr]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<flow-ref doc:name="Flow Reference" doc:id="9e1a1d45-1fe0-402a-9d67-331f70e104d0" name="prepare-errore-response-sub-flow"/>
			</when>
			<otherwise >
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Status: "Success",
  Message: "Booking has been updated successfully.",
  PNR: payload.resultSet1[0].pnr
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
				<json-logger:logger doc:name="Success Logger" doc:id="9f4fdd5a-3915-4161-a89d-05d404bfdf9d" config-ref="JSON_Logger_Config" message="UPDATE  SUCCESS">
			<json-logger:content><![CDATA[#[{
    payload: payload
}]]]></json-logger:content>
		</json-logger:logger>
			</otherwise>
		</choice>
    
</flow>
	
</mule>
